body{
	background-color: #E1DCCA;
	width: 100%;
	height: 100%;
}    
    
#contenedor{
        width: 1024px;
        height:auto;
        /*border: solid 3px #eee;*/
        /*background-color: grey;*/
        text-align: center;
	margin-bottom:10px;
}
#menucabecera{
	width:1024px;
	height:100px;
        margin-bottom: 0px;
}

#imglogo{
	width: 150px;
        height: 100px;
	position:relative;
	float:left;
        margin-left: -40px;
	/*margin-top: -15px;
	margin-left: -30px;*/
}
.boton{
	position: relative;
	float:right;
	width: 170px;
	height: 30px;
        font-size: 17px;
       /* border: #6C6C6C solid 1px;*/
      /*  background-image: url("images/fondoboton1.jpg"); */
	color:#6C6C6C;
	text-align:right;
        margin-top: 35px;
        padding-top: 15px;
        font-size:20px
	
}
.boton:hover{
    	/*background-image: url("images/fondoboton2.jpg"); */
        color:#8FC400;
}      
a{
	color:#FFF;
}
#boton1{
	border-radius: 0px 10px 10px 0px;
        width: 190px;
}
#boton2{
/*	margin-left:100px;*/
}
#boton3{
        border-radius: 10px 0px 0px 10px;
}
ul{
        list-style-type: none;   
}
#menucabecera ul { 
        text-align: center;
        clear:both;
  
}
#menucabecera li { 
        display: inline; 
        width: 150px;
	height: 150px;
}
.boton:hover{
	/*border:green 2px groove;*/
}
#tituloh1 {
	position: absolute;
	height: auto;
	width: 800px;
	margin-left: 250px;
	margin-top:40px;
	color:black;
}
/*Estilo de los botones inferiores del index*/
#container2{
	width:1035px;
	height:auto;
}

#container2 ul{
    margin-left: -45px;
}

.cajas{
	width: 235px;
	height: 180px;
        border-radius: 10px 10px 10px 10px;
	background-image: url("images/fondoboton1.jpg");
/*	position: relative;*/
	float: left;
        margin: 5px;
        margin-left: 20px;
        margin-bottom: 15px;
        border: #6C6C6C solid 1px;
	color:#6C6C6C;
        /*padding: 40px 0px;
        margin-left: 0;
        margin-right: 30px;
        */        
        background-size: 235px 180px;
}
#rock{
	background-image: url("images/rock.jpg");
        background-repeat: no-repeat;
        margin-left: 0px;
}
#pop{
	background-image: url("images/pop.jpg");
        background-repeat: no-repeat;
}
#electro{
	background-image: url("images/electro.jpg");
        background-repeat: no-repeat;
}
#hiphop{
	background-image: url("images/hiphop.jpg");	
        background-repeat: no-repeat;
}
#world{
	background-image: url("images/world.jpg");
        background-repeat: no-repeat;
        margin-left: 0px;
}
#solista{
	background-image: url("images/solista.gif");
        background-repeat: no-repeat;
}
#latina{	
	background-image: url("images/latina.jpg");
        background-repeat: no-repeat;
}
#spot{	
	background-image: url("images/bso.jpg");
        background-repeat: no-repeat;
}

#pie{
	clear: both;
        width:100%;
	color:#E1DCCA;
        background-color: #6C6C6C;
	padding-top:20px;

	padding-bottom:25px;
        
        margin:-30px;
        margin-top: 20px;
	visibility:visible;
	border-top: solid 3px #6C6C6C;
        
}
/*Estilo del banner:*/
#container {
	width: 1024px;
	height:400px;
	margin: 0 auto;
	margin-top:-50px;
	padding-bottom: 10px;
	text-align: center;
	alignment-adjust: middle;
	alignment-baseline: middle;
        border-radius: 10px 10px 10px 10px;
}        

#example1 {
    margin-top:60px;
    z-index: 0;
}

pre {
    visibility: hidden;
}

.clear {clear:both;}

/*Estilo del twitter*/
h2.tut{
	/* This is the "MY TWEETS" title */
	color:white;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:16px;
	padding:12px 0 0 58px;
	text-transform:uppercase;

	/* The CSS3 text-shadow property */
	text-shadow:2px 1px 6px #333;
}
div#enlaces{
    position:fixed;
    right:0px;
    bottom:0px;
}
div#enlaces img{
    width:100px;
    height: 100px;
    float:left;
}
div#enlaces li{
    display:block;
}

/*Quienes somos*/
.divquienes{
    width: 1024px;
    float:left;
    position: relative;
    margin-top: 20px;
}
.divcurriculo{
    width: 300px;
    float:left;
    position: relative;
    margin-top: 20px;
    visibility: hidden;
}
.divcurriculo:hover{
    visibility: visible;
}
h2{
    text-align: center;
}
#quienes{
    text-align: justify;
}
.cambiable{
    height: 300px;
    width: 300px;
    position: relative;
    float: left;
}
.cambiable .initial, .cambiable .final{
    position: absolute;
    top: 0;
    left: 0;
}
.cambiable .final{
    display: none;
}
.cambiable:hover .initial{
    display: none;
}
.cambiable:hover .final{
    display: block;
}

/*
        border: red dashed 2px;
	background-color:  #B6C0D2;
/*	position: relative;
	float: left;
        margin: 5px;
        border: grey solid 1px;
	color:grey;*/

a, a:visited {
	/* Styling the links */
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration: underline;
	color: #FFFFFF;
}
/*
#logo {
	position: absolute;
	left: 378px;
	top: 100px;
	height: 140px;
}*/

/* CONTACTO*/
form{
	text-align: left;
}
contacto{
	width:1024px;
        margin-top:20px;
}
#formulario{
	float:left;
	width:500px;
	margin-left:20px;
}
#direccion{
	float:right;
	position:relative;
	width:500px;

}
#enviar{
	text-align:right;
	padding:5px 20px;
	margin-left:100px;
	margin-top:20px;
        float: right;

}
.textbox{
	text-align:right;
	float:right;
	position:relative;
	margin-right: 200px;
}
/*CONSEJOS PREVIOS*/
#consejos{
        text-align: justify;
        
}
#imgconsejo{
        float: right;
        position: relative;
        width: 200px;
        
}
#consejo{
        float: left;
        position: relative;
        width: 800px;
        clear: both;
}
/*BANNER*/
.clean_slider_container{
    overflow: hidden;
    margin:0 auto;
    padding-right:10px;
    position: relative;
}
.clean_slider_container ul{
    list-style: none outside none;
    margin: 0 0 4px;
    padding: 0;
}  
.clean_slider_container li{
    margin:0;
    padding:0;
    float:left;
}
.clean_slider_img_list img{
    display: none;
    z-index: 1;
    position: absolute;
}
.clean_slider_mark_container{
    float:left;
    margin-left: 10px;
    
}
.clean_slider_mark_container li{
    width:16px;;
    height:16px;
}    
.clean_slider_mark_container a{
    background: url(images/bg.png) transparent top left no-repeat;
    width:16px;;
    height:16px;
    display: block;
}
.clean_slider_mark_container a.active{
    background: url(images/bg2.png) transparent bottom left no-repeat;
    width:16px;;
    height:16px;
    display: block;
  
}
.clean_slider_image_shown{
/** style to be applied to the final image **/
/** css3 properties, you can remove or change this class **/
    box-shadow:2px 2px 5px black;
    border-radius: 10px 10px 10px 10px;
}
.caption{
    background-color: black;
    filter: alpha(opacity = 80);    
    opacity: 0.8;
    position: absolute;
    height: 70px;
    z-index: 99;
    text-align: center;
    display: none;
    text-decoration: none;

}
.caption label{
    display: block;
    font-family: cursive;
    font-size: 23px;
    margin: 14px 10px 10px;
    color:white;
}
